<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="icon" href="//static.jdpay.com/m-wallet/v0.3.5/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="//static.jdpay.com/m-wallet/v0.3.5/img/app-icon.png">
</head>
<body>
<div id="layout"></div>

</body>
</html>